.main{
    color:$font-color-bright;
    background-image: url('./../img/abf53a31b2da4657a1a004ee9358551c.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &__content{
        @include flex-column-center;
        max-width: 800px;
        margin: 0 auto;
        padding: 1rem;
        &__title{
            margin-top: 3rem;
            margin-bottom: 3rem;
            width: 60%;
            font-size: 3rem;
            text-align: center;
        }
        &__para{
            text-align: center;
        }
        &__subtitle{
            font-size: 1.5rem;
            text-align: center;
            margin: 2rem 0;
        }
        &__button-wrapper{
            margin: 2rem 0;
        }
        &__button{
            display: inline-block;
            width: 100%;
            min-width: 300px;
            margin: .5rem 0;
            padding: 1rem;
            background-color: $button-bg-color-1;
            color: $font-color;
            font-weight: bold;
            text-align: center;
            border-radius: 2rem;
            box-shadow: 1px 1px 40px rgba(0,0,0,0.6);
            &--border{
                background-color: $button-bg-color-2;
                color: $font-color-bright;
                border: 2px solid $font-color-bright;
            }
        }
    }

}